


:root{
    --bodyBg:#303841;
    --formBg:#343F4B;
    --textColor:#fff;
    --primaryColor:#0076A3;
    --paraColor:#5e6c79;
    --paraColor:#74828f;

}

body{
    font-family: 'Roboto Serif', serif;
    color: var(--textColor);
    background: var(--bodyBg);
    padding-bottom: 5em;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 550px;
    margin: auto;
    margin-top: 2em;
}

.sectionHeader{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primaryColor);
    margin-bottom: .5em;
}




.contactForm{
    display: grid;
    gap: 3em;
}

form{
    width: 100%;
    margin-top: 3em;
}




.input{
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: var(--formBg);
    color: var(--paraColor);
    border-radius: 10px;
    border: 1px solid rgb(53, 53, 53);
    margin-bottom: 1em;

}



.submit{
    background-color: var(--primaryColor);
    border: none;
    color: var(--textColor);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.map-container{
    position: relative;
    width: 100%;
    height: 500px;
}

.mapBg{
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
    border-radius: 20px;
}

.map{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contactMethod{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
}

.method{
    display: flex;
    align-items: center;
}

.contactIcon{
    font-size: 2rem;
    color: var(--primaryColor);
    width: 70px;
}

@media screen and (min-width:800px) {
    section{
        max-width: 1100px;
    }
    .contactForm{
        grid-template-columns: 1fr 1fr;
    }   

    .contactMethod{
        flex-direction: row;
        justify-content: space-between;
    }
}


*{  margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;


}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

    
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #6fb4ec;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #276cec;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    transform: translate(-50,-50);
    text-align: center;
}

.text-box h1{
    font-size: 30px;
    
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
} 

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #2491d1;
    background: #2491d1;
    transition: 1s;
}

nav .fa{
    display: none;
}

.last-box{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #0a0a0a;
    text-align: center;
}


.footer {
    background-color: #0044cc;
    color: white;
    padding: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul.social_icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer ul.social_icon li {
    margin: 0 10px;
}

.footer ul.social_icon li a {
    color: white;
    font-size: 24px;
}

.footer p {
    margin-top: 10px;
}
